---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import HorizontalBlogCard from "@components/HorizontalBlogCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Greetings! 👋</div>
    <div class="text-5xl font-bold">I'm Hasan Al Asim</div>
    <div class="text-3xl py-3 font-bold">
      Software Developer and Entrepreneur
    </div>
    <div class="py-2 flex flex-col space-y-4">
      <p class="text-lg">
        I make simple and effective software solutions, focusing on minimalism,
        problem-solving, and efficient functionality. With a passion for
        Open-Source collaboration, I'm dedicated to sharing my knowledge and
        contributing to the tech community. Outside coding, you'll find me
        enjoying good music—because, like software, it's all about creating
        harmony.
      </p>
    </div>
    <div class="mt-8">
      <a
        class="btn btn-primary"
        href="https://www.linkedin.com/in/alasim/"
        target="_blank"
      >
        Let's Connect!</a
      >
      <a href="mailto:alasim.mailg@gmail.com" class="btn btn-outline ml-5">
        Contact</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Prumote - Digital Advertising Platform"
    img="https://res.cloudinary.com/dfetbelr8/image/upload/w_1020/portfolios/projects/prumote-shot-1.png"
    desc="Prumote simplifies digital advertising with seamless content creation, media planning, and buying, revolutionizing the advertising landscape."
    url="https://prumote.com/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Timely - SaaS for Effortless Scheduling"
    img="https://res.cloudinary.com/dfetbelr8/image/upload/w_1020/portfolios/projects/er8pckwxmn3ugmebfniw.png"
    desc="Timely streamlines scheduling operations with UX-driven design, seamless website development, and rigorous testing for reliability and efficiency."
    url="https://trytimely.com/"
  />
  <HorizontalCard
    title="Fantacy Snipper - SaaS for sports adventure"
    img="https://res.cloudinary.com/dfetbelr8/image/upload/w_1020/portfolios/projects/jynjbjlcupwkmd0cs3ms.png"
    desc="A community where fans Connect with their team, Compete with other fans and Earn Rewards for demonstrating fan skill"
    url="https://sniper-git-wd-61-final-retouch-compeletion-klwebco-auth.vercel.app/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalBlogCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
