---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Hasan Al Asim
  </div>
  <div class="inline opacity-75"></div>
</footer>
<style></style>
